.page 
    .status
        margin-bottom: 0
        position: absolute
        right: var(--bs-card-spacer-x)
        top: var(--bs-card-spacer-y)
    .btn
        &::after
            content: none
    a:hover
        .btn::before
            @media (prefers-reduced-motion: no-preference)
                transform: translateX(0.3rem)