@keyframes animate_cms
    0%
        transform: translateY(0%)
    14.2857%
        transform: translateY(-12.5%)
    28.5714%
        transform: translateY(-25%)
    42.8571%
        transform: translateY(-37.5%)
    57.1429%
        transform: translateY(-50%)
    71.4286%
        transform: translateY(-62.5%)
    85.7143%
        transform: translateY(-75%)
    100%
        transform: translateY(-87.5%)

.home-page
    .hero
        h1
            @include font-size(5rem)
            > span
                display: inline-block
                height: 1em
                height: 1lh
                overflow: hidden
                perspective: 600px
                vertical-align: bottom
            span span
                animation-duration: 8s
                animation-iteration-count: infinite
                animation-name: animate_cms
                animation-delay: 2s
                display: inline-flex
                flex-direction: column
            i
                backface-visibility: hidden
                font-style: normal
                text-align: left
                transform-origin: center top
    main
        padding-bottom: 0
        padding-top: 0

    @include media-breakpoint-up(md)
        .hero
            .cta
                justify-content: center
        .block-editorial
            padding-bottom: 0
            padding-top: 0
        